pipeline/Pipeline-Controlflow-Activities-2.json
{
	"name": "Pipeline-Controlflow-Activities-2",
	"properties": {
		"activities": [
			{
				"name": "Get Pipeline Status",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_GetPipelineStatus]",
						"storedProcedureParameters": {
							"key": {
								"type": "String",
								"value": "Pipeline-Controlflow-Activities"
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "GetPipelineConfiguration",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ExecutePipeline",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Pipeline Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('Get Pipeline Status').output.firstRow.Value)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline-Controlflow-Activities",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Pipeline-Controlflow-Activities",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}